.App-body {
  flex: 1 1 100%;
  margin: 0 auto;
  max-width: 100%;
  padding-top: 80px;
/*  padding-left: 16px;
  padding-right: 16px; */
}
.react-grid-item {
  /* border: 3px solid blue; */
  border: 3px solid gray;
  border-radius: 4px;
  box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.2),0px 2px 2px 0px rgba(0, 0, 0, 0.14),0px 3px 1px -2px rgba(0, 0, 0, 0.12);
  overflow-y: scroll;
}

.main-grid-item-container  {
  margin: 4px;
  border: 3px solid white;
  padding: 2px;
}

.goff-flex  {
  display: inline-flex;
}
