.goff-comment-view-container {
  margin: 6px 2px;
  padding: 1px 3px 5px 8px;
  border: 3px solid green;
  border-top: 2px solid greenyellow;
  border-bottom: 0px;
  border-right: 0px;
}

.goff-comment-view-title {
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
}

.goff-comment-view-author > span {
  display: inline-flex;
  flex-direction: row;
}

